body {
  background-color: #ffffff;
  min-width: 180px;
  min-height: 80px;
  overflow: scroll;
  font-size: 12px;
}

div#info {
  margin: 10px;
}

div#info *{
  margin-top: -10px;
  line-height: 180%;
}

div#info:first-child {
  margin-top: 15px;
}